langchain-core~=0.3.41
sqlalchemy~=2.0.38
python-dotenv~=1.0.1
pydantic-settings~=2.8.1
pydantic~=2.10.6
chromadb~=0.6.3
dishka~=1.4.2
langchain~=0.3.20
elasticsearch~=8.17.2
langchain-community~=0.3.19
aiogram~=3.18.0
redis~=5.2.1
pandas~=2.2.3
alembic~=1.15.1
scikit-learn~=1.6.1
uvicorn~=0.34.0
langsmith~=0.3.11
langchain-text-splitters~=0.3.6
sentence-transformers~=3.4.1
numpy~=1.26.4
Markdown~=3.7
typing_extensions~=4.12.2
langgraph~=0.3.11